<section class="about">
    <div class="container">
        <h2 class="about__title">What else we do</h2>
        <div class="about-wrapper">
            <div class="about__left">
                <ul class="about-list">
                    <li class="about-list__item about-list__item--active">
                        <a href="#" class="about-list__item-link">Brand Stories</a>
                    </li>
                    <li class="about-list__item">
                        <a href="#" class="about-list__item-link">Content generators</a>
                    </li>
                    <li class="about-list__item">
                        <a href="#" class="about-list__item-link">E-commerce</a>
                    </li>
                    <li class="about-list__item">
                        <a href="#" class="about-list__item-link">Production/distribution</a>
                    </li>
                </ul>
            </div>
            <div class="about__right">
                <p class="about__descr">Everyone one loves stories and everyone does connect
                    with them. When it comes to disrupting brand stories
                    and relatable brand vibe, we breathe for it, So,
                    you are just atthe right place.
                </p>
            </div>
        </div>
    </div>
</section>