<section class="ambassadors">
    <div class="container">
        <div class="ambassadors-wrapper">
            <h2 class="ambassadors-title">Still, having second thoughts about?</h2>
            <p class="ambassadors__descr">Schedule a call with our ambassadors</p>
            <form action="" class="form">
                <input type="email" name="email" placeholder="Enter your email" class="form__input">
                <input type="phone" name="phone" placeholder="Enter your Phone number" class="form__input">
                <button type="submit" value="Submit" class="btn btn--submit" >Submit</button>
            </form>
        </div>
    </div>
</section>