<section class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <ul class="footer-list-social">
                <li class="footer-list-social__item">
                    <a href="#" class="footer-list-social__item-link">Twitter</a>
                </li>
                <li class="footer-list__item">
                    <a href="#" class="footer-list-social__item-link">Facebook</a>
                </li>
                <li class="footer-list__item">
                    <a href="#" class="footer-list-social__item-link">Instagram</a>
                </li>
                <li class="footer-list__item">
                    <a href="#" class="footer-list-social__item-link">Linkedin</a>
                </li>
            </ul>
            <p class="footer-slogan">You build rockets, we build launch pads.</p>
            <div class="footer-content">
                <p class="footer-content__privacy">Privacy</p>
                <p class="footer-content__since">© Brocast Entertainment 2021</p>
            </div>
        </div>
    </div>
</section>