<section class="founder">
    <div class="container">
        <div class="founder-wrapper">
            <div class="founder-image">
                <img src="img/photo-founder-min.jpg" alt="man photo" class="founder-image__img">
            </div>
            <div class="founder-text">
                <p class="founder__caption">Founder</p>
                <h3 class="founder__title">Arjit Singh</h3>
                <p class="founder__descr">
                    Arjit build is his whole career closely understanding
                    the marketing and brand psychology behind some of the well-known
                    Startups of India. Most recently he has co-founded his own travel
                    tech company making it a well-known solution provider in
                    the Indian travel sector. Before that, he has working experience
                    with 2 big unicorns of India and numerous startups as a marketing consultant.
                </p>
            </div>
        </div>
    </div>
</section>