<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <div class="header-menu">
                <h2 class="header-caption">Brocast</h2>
                <nav class="menu menu-hidden">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="" class="menu__item__link">Manifesto</a></li>
                        <li class="menu__item"><a href="" class="menu__item__link">Team</a></li>
                        <li class="menu__item"><a href="" class="menu__item__link">News</a></li>
                        <li class="menu__item"><a href="" class="menu__item__link">Jobs</a></li>
                    </ul>
                </nav>
            </div>
            <a href="" class="btn menu-hidden">Contact us</a>
        </div>
    </div>
</header>