<section class="portfolio">
    <div class="portfolio-content">
        <div class="container">
            <div class="portfolio-wrapper">
                <div class="portfolio__left">
                    <img src="img/portfolio-left-img.png" alt="images portfolio" class="portfolio__image">
                    <h2 class="portfolio__title">
                        We build brands with values
                        and designed experience
                    </h2>
                    <p class="portfolio__descr">
                        Get brand deals and sponsors at
                        <span class="portfolio__descr-accent">0% commission</span>
                        <span class="portfolio__wrapper-text">for your content.</span>
                    </p>
                </div>
                <div class="portfolio-text">
                    <div class="portfolio__item">
                        <h3 class="portfolio__item-title">Portfolio caretaker</h3>
                        <p class="portfolio__item-descr">
                            When we are there, no need to worry about managing your
                            portfolios and representations. We believe every artist
                            and influencer should spend the majority of their time
                            creating effective content and engagements. Brocast will
                            take care of your portfolio throughout the association and
                            which will make it easy to attract more brands to the association.
                        </p>
                    </div>
                    <div class="portfolio__item">
                        <h3 class="portfolio__item-title">Influencer outreach</h3>
                        <p class="portfolio__item-descr">
                            We are the first and only associates who connect Nano and
                            micro-influencers to well-known brands at 0% commission model.
                            Yes !! you heard right, now monetize your content without giving
                            any commission to any agency. Now be the face of well-known brands
                            by 100% transparency.
                        </p>
                    </div>
                    <div class="portfolio__item">
                        <h3 class="portfolio__item-title">Influencer outreach</h3>
                        <p class="portfolio__item-descr">
                            We are the first and only associates who connect Nano and
                            micro-influencers to well-known brands at 0% commission model.
                            Yes !! you heard right, now monetize your content without giving
                            any commission to any agency. Now be the face of well-known brands
                            by 100% transparency.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>