<section class="promo">
    <div class="container">
        <div class="promo-wrapper">
            <div class="promo__content">
                <h1 class="promo__title">
                    Every
                    <span class="promo__title-accent">Art, Idea, and innovation</span>
                    deserves an influential brand
                </h1>
                <p class="promo__slogan">We work with empathy, for impact</p>
                <a href="" class="btn btn--whatsapp">Lets get in touch</a>
            </div>
            <img src="img/promo-img.png" alt="images" class="promo-image">
        </div>
    </div>
</section>