.founder {
  background-image: url("../img/founder-spider.svg");
  background-repeat: no-repeat;
  background-position: right  ;
  background-position-y: bottom;
  padding: 270px 0 220px;
  margin-top: -70px;
}

.founder-wrapper {
  display: flex;
  align-items: center;
}

.founder-image {
  margin-right: 140px;
}

.founder-image__img {
  width: 100%;
}

.founder-text {
  font-weight: 700;
}

.founder__caption {
  color: #ff5043;
}

.founder__title {
  font-size: 54px;
  margin-bottom: 63px;
}

.founder__descr {
  font-size: 22px;
  font-family: "Aeonik-Light";
  max-width: 900px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 25px;
  &::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 195px;
    background: #ff5043;
    left: 0;
  }
}

//mobile

@media (max-width: 580px) {
  .founder-image {
    margin-right: 45px;
  }
}

@media (max-width: 540px) {
  .founder {
    padding: 246px 0 185px;
  }

  .founder__title {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .founder {
    padding: 218px 0 185px;
  }

  .founder__descr {
    font-size: 18px;
    margin-top: -15%;
  }

  .founder-image {
    margin-right: 80px;
  }
}

@media (max-width: 425px) {
  .founder__descr {
    font-size: 14px;
  }

  .founder__title {
    font-size: 33px;
    margin-bottom: 40px;
  }
}

@media (max-width: 368px) {
  .founder {
    padding: 140px 0 185px;
  }
  
  .founder__title {
    font-size: 24px;
  }

  .founder-image {
    margin-right: 23px;
  }
}