.thoughts {
  background: #161616 url("../img/thoughts.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 244px 0;
  margin-top: -145px;
}

.thoughts__text {
  color: #ff5043;
  font-size: 28px;
}

.thoughts__descr {
  color: #f5f5f5;
  font-size: 64px;
  max-width: 1100px;
  span {
    color: #ff5043;
  }
}

//mobile

@media (max-width: 770px) {
  .thoughts {
    padding: 210px 0;
  }
}

@media (max-width: 700px) {
  .thoughts {
    padding: 167px 0;
  }
}

@media (max-width: 580px) {
  .thoughts {
    padding: 120px 0;
  }
}